%h1 Dashboard

=link_to "New App", new_app_path, class: 'btn btn-secondary btn-lg active', role: 'button', "aria-pressed": true

%br

%h2 Apps
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Actions
    %tbody
      - @apps.each do |app|
        %tr
          %td= link_to app.name, app_path(app)
          %td
            =link_to fa_icon("trash-o"), app_path(app), class: 'btn btn-secondary btn-sm active', role: 'button', "aria-pressed": true, method: :delete
