=simple_form_for @app do |form|
  .card
    .card-block
      %h4.card-title= @app.name
      - if @app.github_auth_token
        .alert.alert-success{role: "alert"}
          = "Authorized on GitHub as @#{@github_user.login} (#{@github_user.name})"

        .row
          .col-4
            .card
              .card-block
                %h6.card-title App Details

                =form.input_field :image_name, as: :hidden

                =form.input :buildpack_id, collection: Buildpack.all

                =form.input :hostname

                =form.input :ssl_email

                =form.input :github_repo, collection: @own_repos

                - if @app.github_repo
                  =form.input :github_branch, collection: @repo_branches

                - if @app.github_branch.present? && @app.buildpack_id.present? && @app.hostname.present? && @app.ssl_email.present?
                  - if @app.deploying
                    =link_to "Deploy", deploy_app_path(@app), class: 'btn btn-primary deploy_link disabled', role: 'button', "aria-disabled": "true", "aria-pressed": true
                  - else
                    =link_to "Deploy", deploy_app_path(@app), class: 'btn btn-primary deploy_link', role: 'button', "aria-pressed": true
                - else
                  =link_to "Deploy", '', class: 'btn btn-secondary disabled', role: 'button', "aria-disabled": "true", "data-toggle":"tooltip", "data-placement": "top", "title": "You need to select a branch, and fill in a buildpack, hostname and SSL email to deploy."

                =form.submit "Update App", class: 'card-link btn btn-primary update_button', disabled: @app.deploying ? 'true' : nil

          .col-6
            .card
              .card-block
                %h6.card-title App Status

                .row
                  .col
                    .form-group
                      - if @app.deploying
                        %button.btn.btn-labeled.btn-warning.app_status_button{:type => "button"}
                          %span.btn-label
                            =fa_icon("clock-o 2x")
                          %span.btn-text
                            Deploying
                      - else
                        %button.btn.btn-labeled.btn-success.app_status_button{:type => "button"}
                          %span.btn-label
                            =fa_icon("check-circle 2x")
                          %span.btn-text
                            Deployed
                .row
                  .col
                    .form-group
                      %label{for: "deploy_content"} Deploy output
                      %textarea#deploy_content.form-control{rows: "15"}

      - else
        =link_to "Link Github", authorize_app_path(app: @app), class: 'btn btn-secondary btn-sm active', role: 'button', "aria-pressed": true
