=simple_form_for @app do |form|
  .card
    .card-block
      %h4.card-title= @app.name
      - if @app.github_auth_token
        .alert.alert-success{role: "alert"}
          = "Authorized on GitHub as @#{@github_user.login} (#{@github_user.name})"

        =form.input :github_repo, collection: @own_repos, wrapper_html: {class: 'row justify-content-start col-4'}

        - if @app.github_repo
          =form.input :github_branch, collection: @repo_branches, wrapper_html: {class: 'row justify-content-start col-4'}

        - if @app.github_branch
          =link_to "Deploy", deploy_app_path(@app), class: 'btn btn-primary ajax_link', role: 'button', "aria-pressed": true

      - else
        =link_to "Link Github", authorize_app_path(app: @app), class: 'btn btn-secondary btn-lg active', role: 'button', "aria-pressed": true

      =form.submit "Update App", class: 'card-link btn btn-primary'

.form-group.mt-2
  %label{for: "deploy_content"} Deploy output
  %textarea#deploy_content.form-control{rows: "12"}