%h1= @app.name
- if @app.github_auth_token
  Connected to GitHub
  %h2 Repos
  %ul.list-group
    - @github.repos.list.each do |repo|
      %li.list-group-item= repo['name']

- else
  =link_to "Link Github", authorize_app_path(app: @app), class: 'btn btn-secondary btn-lg active', role: 'button', "aria-pressed": true
