%nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
  %button.navbar-toggler.navbar-toggler-right.hidden-lg-up{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} Dothroku
  #navbarsExampleDefault.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: current_page?(root_url) ? 'active' : ''}
        %a.nav-link{href: root_url}
          Home
          - if current_page?(root_url)
            %span.sr-only (current)
